%fieldset
  %p
    = f.cl_image_upload(:url)
  %p
    = cl_image_tag(f.object.url) if f.object.url.present?
  %p
    = f.label :caption, 'Caption'
    = f.text_field :caption

  - unless f.object.nil? || f.object.new_record?
    = f.hidden_field :_destroy
    = link_to 'Remove Image', '#', class: 'remove_fields button'