%section
  - @post.tags.build

  = form_for @post do |f|

    - if @post.errors.any?
      #error_explanation.alert-box.secondary
        %h2
        = pluralize(@post.errors.count, 'error')
        prohibited this post from being saved:
        %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

    %p
      = f.label :title
      = f.text_field :title
    %p
      = f.label :detail
      = f.text_area :detail
    %p
      = f.label :thought
      = f.text_area :thought
    %p
      = f.label :image
      = cl_image_tag(@post.image) if @post.image.present?
      = cl_image_upload_tag :image

    %p
      = render :partial => 'tags/form', :locals => { :form => f }

    %p
      = f.submit 'Save', class: 'button'
      = link_to 'View All', posts_path, class: 'button'