%section
  = form_for @post do |f|

    - if @post.errors.any?
      #error_explanation.alert-box.secondary
        %h2
        = pluralize(@post.errors.count, 'error')
        prohibited this post from being saved:
        %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

    %p
      = f.label :title
      = f.text_field :title
    %p
      = f.label :detail
      #editor
      = f.hidden_field :detail
    %p
      = f.label :thought
      = f.text_area :thought
    %p
      %h4 Post Tags
      %fieldset
        = f.fields_for :tags do |builder|
          = render 'tag_fields', f: builder
        = link_to_add_fields "Add Tag", f, :tags
    %p
      = render :partial => 'images/form', :locals => { :form => f}
    %p
      = f.submit 'Save', class: 'button'
      = link_to 'View All', posts_path, class: 'button'