= title 'All Posts'

%h1 All Ri-Blog Posts
%ul
  = @posts.each do |post|
    %li
      %span
        = post.created_at
      %span
        = post.title
      %span
        = post.detail.slice(0, 30)+"..."
%p that's it folks