= title 'Added Post'

%h1 Latest Ri-Blog Post
%p
  %strong Date
  = @post.created_at
%p
  %strong Title
  = @post.title

%p
  %strong Detail
  = @post.detail

%p
  %strong Images
  = @post.image

-if admin_signed_in?
  %p
  = link_to 'View All Blog Posts', posts_path