= title 'Post Detail'

.row
  .small-11.small-centered.columns
    %h1= @post.title
    .row
      .small-8.small.columns
        %p
          = @post.created_at.to_s(:long)
        %p
          = @post.detail
        %p
        - if @post.image.present?
          = @post.image
        %p
          - if admin_signed_in?
            = link_to 'Edit', edit_post_path(@post), class: 'button'
            = link_to 'Remove', post_path(@post), class: 'button', method: :delete, data: { confirm: 'For realzies?'}
          = link_to 'View All', posts_path, class: 'button'

      .small-3.small.columns
        %blockquote
          - @post.tags.map do |t|
            %span.label= t.name
          %p= @post.thought

    .row
      .small-11.small.columns
        %h2 Comments
        - @post.comments.each do |comment|
          %table
            %tbody
              %tr
                %td{:width => 200}= comment.created_at.to_s(:short)
                %td{:width => 100}= comment.commenter
                %td{:width => 600}= comment.body
                - if admin_signed_in?
                  %td= link_to 'Delete', [comment.post, comment], class: 'button', :method => :delete

        = render 'comments/comment_form'
