= form.fields_for :images do |i|
  %h4 Post Images
  %fieldset
    %p
      = i.cl_image_upload :url
    %p
      = cl_image_tag(@post.images.first.url)
    %p
      = i.label :caption, 'Caption'
      = i.text_field :caption

    - unless i.object.nil? || i.object.new_record?
      = i.check_box :_destroy
      = i.label :_destroy, 'Remove'