!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/

    %title
      Ri-Blog #{yield(:title) || "My Journey Into Programming"}
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Simonetta"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Karla"
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "pen.js"
    = javascript_include_tag "markdown.js"
    = csrf_meta_tags

  %body
    .row
      .small-12.columns
        .off-canvas-wrap
          .inner-wrap
            %nav.tab-bar
              %section.left-small
                %a.left-off-canvas-toggle.menu-icon
                  %span

              %section.middle.tab-bar-section
                - if admin_signed_in?
                  %h1.title
                    = link_to 'Ri-Blog hello RiRi', root_path
                -else
                  %h1.title
                    = link_to 'Ri-Blog', root_path

              %section.right-small
                %a.right-off-canvas-toggle.menu-icon
                  %span

            %aside.left-off-canvas-menu
              %ul.off-canvas-list
                %li
                  %label.fly-out Blog Admin
                  = link_to 'All Posts', posts_path

                - if admin_signed_in?
                  %li
                    = link_to 'New Post', new_post_path
                  %li
                    = link_to 'Sign Out', destroy_admin_session_path
                - else
                  %li
                    = link_to 'Sign In', new_admin_session_path

            %aside.right-off-canvas-menu
              %ul.off-canvas-list
                %li
                  %label.fly-out Post Archive
                  = form_tag posts_search_path, method: 'get' do
                    = label_tag :query, 'Search Blog'
                    = text_field_tag :query
                    = submit_tag 'Search', class: 'button'

            %section.main-section
              -if notice.present?
                %div.notice.alert-box.info.radius{:data => "data-alert"}
                  = notice
                  %a.close{:href => "#"} &times;

              - if alert.present?
                %div.alert-box.secondary= alert

              = yield

            %a.exit-off-canvas

            %nav.tab-bar

    = javascript_include_tag "application"
    = cloudinary_js_config